<div class="flex flex-col h-full w-full">
  <%= render 'shared/navbar' do %>
    <h1 class="font-bold text-2xl text-sidebarTextColor">Editar perfil</h1>
  <% end %>

  <section class="flex w-full p-5 gap-5">
    <div class="flex flex-col w-full p-5 bg-white border rounded shadow gap-10">
      <h2 class="font-semibold text-sidebarTextColor text-xl">Información general</h2>

      <div class="flex flex-col w-full gap-5">
        <div class="flex flex-col">
          <span class="font-regular text-sidebarTextColor">Nombre:</span>
          <span class="font-bold text-sidebarTextColor"><%= @profile.first_name.present? ? @profile.first_name : '--' %></span>
        </div>

        <div class="flex flex-col">
          <span class="font-regular text-sidebarTextColor">Apellidos:</span>
          <span class="font-bold text-sidebarTextColor"><%= @profile.last_name.present? ? @profile.last_name : '--' %></span>
        </div>

        <div class="flex flex-col">
          <span class="font-regular text-sidebarTextColor">Número de teléfono</span>
          <span class="font-bold text-sidebarTextColor"><%= @profile.phone_number.present? ? @profile.phone_number : '--' %></span>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full p-5 bg-white border rounded shadow gap-10">
      <h2 class="font-semibold text-sidebarTextColor text-xl">Actualizar información</h2>

      <%= form_with(model: @profile, url: user_profile_path(@profile, user_id: current_user.token_id), method: :patch, class: 'flex flex-col w-full gap-5') do |f| %>
        <div class="flex flex-col gap-1 w-full items-start">
          <%= f.label :first_name, 'Nombre:', class: 'font-bold mb-1' %>
          <%= f.text_field :first_name, class: "input-tailwindcss font-semibold #{ error_input_border(@profile.errors.include?(:first_name)) }" %>
          <% if @profile.errors.include?(:first_name) %>
            <%= render 'shared/input_error_msg', { object: @profile, attribute: :first_name } %>
          <% end %>
        </div>

        <div class="flex flex-col gap-1 w-full items-start">
          <%= f.label :last_name, 'Apellido(s):', class: 'font-bold mb-1' %>
          <%= f.text_field :last_name, class: "input-tailwindcss font-semibold #{ error_input_border(@profile.errors.include?(:last_name)) }" %>
          <% if @profile.errors.include?(:last_name) %>
            <%= render 'shared/input_error_msg', { object: @profile, attribute: :last_name } %>
          <% end %>
        </div>

        <div class="flex flex-col gap-1 w-full items-start">
          <%= f.label :phone_number, 'Número de teléfono:', class: 'font-bold mb-1' %>
          <%= f.text_field :phone_number, class: "input-tailwindcss font-semibold #{ error_input_border(@profile.errors.include?(:phone_number)) }" %>
          <% if @profile.errors.include?(:phone_number) %>
            <%= render 'shared/input_error_msg', { object: @profile, attribute: :phone_number } %>
          <% end %>
        </div>

        <div class="flex flex-col gap-1 w-full items-start" data-controller="profiles">
          <%= f.label :avatar, 'Imagen de perfil:', class: 'font-bold mb-1' %>
          <%= f.file_field :avatar, class: "hidden", accept: "image/png,image/gif,image/jpeg,image/jpg",  multiple: false %>
          <div data-action="click->profiles#addAvatar" class="flex items-center cursor-pointer border rounded-lg shadow w-full">
            <span class="bg-slate-400 py-1.5 px-3 font-semibold text-white w-1/2 text-sm rounded-l-lg">Seleccionar imagen</span>
            <span class="py-1.5 px-3 bg-slate-700 text-white font-semibold w-full text-sm rounded-r-lg" id="avatar_name">Ningún archivo seleccionado</span>
          </div>
          <% if @profile.errors.include?(:avatar) %>
            <%= render 'shared/input_error_msg', { object: @profile, attribute: :avatar } %>
          <% end %>
        </div>

        <div class="flex items-center justify-end gap-5">
          <div class="flex items-center text-sm font-semibold">
            <%= f.submit 'Actualizar perfil', class: "rounded py-2 px-4 bg-green-500 text-white font-semibold cursor-pointer" %>
          </div>

          <%= link_to user_path(current_user.token_id), class: "flex text-sm font-semibold rounded bg-danger px-4 py-2 text-white items-center gap-1" do %>
            <span>Regresar</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
