<%= turbo_frame_tag 'add_categories_modal' %>

<div class="flex flex-col gap-5 rounded shadow border p-5">
  <div class="flex items-center w-full justify-between">
    <h3 class="text-sidebarTextColor font-bold">Detalles del articulo</h3>
    <%= link_to add_categories_article_path(article), class: 'bg-primary text-white text-sm rounded px-4 py-1.5 font-bold', data: { turbo_frame: 'add_categories_modal' } do %>
      Asignar categorias
    <% end %>
  </div>

  <div class="flex flex-col gap-3 w-full">
    <div class="flex items-center w-full">
      <div class="flex gap-1 w-6/12">
        <h4 class="font-medium mb-1">Nombre:</h4>
        <%= article.name %>
      </div>

      <div class="flex gap-1 w-3/12">
        <h4 class="font-medium mb-1">Precio:</h4>
        $ <%= number_with_delimiter(article.price, :delimiter => ',') %> MXN
      </div>

      <div class="flex gap-1 w-3/12">
        <h4 class="font-medium mb-1">Cantidad:</h4>
        <%= article.in_stock %> piezas
      </div>
    </div>

    <div class="flex flex-col w-full">
      <h4 class="font-medium mb-1">Categorias:</h4>
      <div class="flex gap-2">
        <% article.categories.each do |category| %>
          <span class="text-xs border border-gray-700 px-1.5 py-0.5 rounded"><%= category.name %></span>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col">
      <strong class="block font-medium mb-1">Descripción:</strong>
      <%= article.description %>
    </div>
  </div>
</div>
