<section class="flex flex-col h-full w-full">
  <%= render 'shared/navbar' do %>
    <%= link_to articles_path, class: 'flex items-center' do %>
      <h1 class="font-bold text-2xl text-sidebarTextColor">Articulos</h1>
    <% end %>

    <div class="flex items-center gap-5">
      <%= render 'search_form' %>

      <%= link_to new_article_path, class: "flex text-sm font-bold rounded bg-success px-4 py-2 text-white items-center gap-2" do %>
        <span>Añadir articulo</span>
        <i class="fa-solid fa-plus text-base"></i>
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-col overflow-y-auto p-5 gap-5">
    <%= render 'articles', { articles: @articles, filter_form: @filter_form } %>
  </div>
</section>
