<div class="flex items-center w-full border-b py-2">
  <div class="w-1/12 text-sidebarTextColor font-semibold text-sm"><%= article_sell.article.id %></div>
  <div class="w-1/12 text-sidebarTextColor font-semibold text-sm">
    <% if article_sell.article.avatar.attached? %>
      <%= image_tag(article_sell.article.avatar, class: 'w-10 h-10 rounded-full shadow shadow-slate-400 border object-contain') %>
    <% else %>
      <div class="w-10 h-10 shadow shadow-slate-400 rounded-full border bg-gradient-to-br from-cyan-300 to-green-300"></div>
    <% end %>
  </div>
  <div class="w-4/12 text-sidebarTextColor font-semibold text-sm"><%= article_sell.article.name %></div>
  <div class="w-1/12 text-sidebarTextColor font-semibold text-sm text-center"><%= article_sell.quantity %></div>
  <div class="w-2/12 text-sidebarTextColor font-semibold text-sm text-end">$ <%= number_with_delimiter(article_sell.article.price.round(2), :delimiter => ',') %> MXN</div>
  <div class="w-2/12 text-sidebarTextColor font-semibold text-sm text-end">$ <%= number_with_delimiter(article_sell.revenue.round(2), :delimiter => ',') %> MXN</div>
  <div class="w-1/12 flex items-center justify-end gap-5">
    <%= link_to sell_article_sell_path(article_sell, sell_id: article_sell.sell.id), class: 'font-semibold gap-2 flex items-center text-primary hover:text-cyan-800 duration-300' do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
    <%= button_to sell_article_sell_path(article_sell, sell_id: article_sell.sell.id), method: :delete, form: { data: { turbo_confirm: 'Estas seguro de eliminar este articulo?' } }, class: 'text-lg font-semibold gap-2 flex items-center text-danger hover:text-red-800 duration-300' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
</div>
