<%= form_with(model: article_sell, url: sell_article_sells_path(sell), method: :post, class: 'flex flex-col w-full', id: 'article_sell_form') do |f| %>
  <div class="flex items-start justify-between">
    <h5 class="font-bold text-lg text-sidebarTextColor">Añadir articulo</h5>
    <div class="flex items-center justify-end gap-3">
      <%= f.submit 'Añadir articulo', class: "rounded py-2 px-4 bg-green-500 text-white font-semibold cursor-pointer", data: { turbo_frame: '_top' } %>
    </div>
  </div>

  <div class="flex items-start w-full gap-5">
    <div class="flex flex-col gap-1 items-start w-6/12">
      <%= f.label :article_id, 'Seleccionar articulo:', class: 'font-bold mb-1' %>
      <%= f.select(:article_id, Article.all.order(:name).map { |option| [option.name, option.id] },
        { include_blank: true },
        { class: "input-tailwindcss font-semibold #{ error_input_border(article_sell.errors.include?(:article_id)) }"
      }) %>
      <% if article_sell.errors.include?(:article_id) %>
        <%= render 'shared/input_error_msg', { object: article_sell, attribute: :article_id } %>
      <% end %>
    </div>

    <div class="flex flex-col gap-1 items-start w-6/12">
      <%= f.label :quantity, 'Cantidad de piezas:', class: 'font-bold mb-1' %>
      <%= f.text_field :quantity, class: "input-tailwindcss font-semibold #{ error_input_border(article_sell.errors.include?(:quantity)) }" %>
      <% if article_sell.errors.include?(:quantity) %>
        <%= render 'shared/input_error_msg', { object: article_sell, attribute: :quantity } %>
      <% end %>
    </div>
  </div>
<% end %>
