<div class="flex items-center w-full hover:bg-gray-100 p-2 duration-300 border-b">
  <div class="flex items-center gap-2 font-semibold text-sm text-sidebarTextColor w-3/12">
    <% if user.profile.avatar.attached? %>
      <%= image_tag(user.profile.avatar, class: 'w-10 h-10 rounded-full shadow border object-contain') %>
    <% else %>
      <div class="w-10 h-10 shadow rounded-full border bg-gradient-to-br from-cyan-300 to-green-300"></div>
    <% end %>
    <%= user.profile.full_name %>
  </div>
  <div class="font-semibold text-sm text-sidebarTextColor w-2/12"><%= user.profile.phone_number %></div>
  <div class="font-semibold text-sm text-sidebarTextColor w-3/12"><%= user.email %></div>
  <div class="font-semibold text-sm text-sidebarTextColor w-2/12"><%= user.created_at_formatted %></div>
  <div class="font-semibold text-sm text-sidebarTextColor w-1/12"><%= user.humanize_role %></div>
  <div class="font-semibold text-sm text-sidebarTextColor w-1/12 gap-5 flex items-center justify-center">
    <i class="fa-solid fa-pen-to-square text-primary"></i>
    <i class="fa-solid fa-trash text-danger"></i>
  </div>
</div>
