<%= turbo_frame_tag 'admin_new_user' %>

<section class="flex flex-col h-full w-full">
  <%= render 'shared/navbar' do %>
    <%= link_to sells_path, class: 'flex items-center' do %>
      <h1 class="font-bold text-2xl text-sidebarTextColor">Administrador</h1>
    <% end %>

    <%= link_to new_admin_user_path, class: 'flex items-center btn-success', data: { turbo_frame: 'admin_new_user' } do %>
      <span>Añadir nuevo usuario</span>
      <i class="fa-solid fa-plus text-base"></i>
    <% end %>
  <% end %>

  <%= render 'users' %>
</section>
