<tr>
  <td style="width: 5%; padding: 10px;"><%= article_sell.article.id %></td>
  <td style="width: 15%; padding: 10px;"><%= article_sell.article.name %></td>
  <td style="width: 30%; padding: 10px;">
    <%= article_sell.article.description.present? ? article_sell.article.description : '--' %>
  </td>
  <td style="width: 5%; padding: 10px; text-align: center;"><%=  article_sell.quantity %></td>
  <td style="width: 20%; padding: 10px; text-align: right;">$ <%= number_with_delimiter(article_sell.article.price.round(2), :delimiter => ',') %> MXN</td>
  <td style="width: 25%; padding: 10px; text-align: right;">$ <%= number_with_delimiter(article_sell.revenue.round(2), :delimiter => ',') %> MXN</td>
</tr>
