<%= form_with(model: sells_filter, url: filter_sells_path, class: 'flex flex-col w-full gap-2', id: "filter_form") do |f| %>
  <div class="flex items-center justify-between">
    <h5 class="font-bold">Filtrar por:</h5>

    <div class="flex items-start justify-end">
      <button type="submit" class="bg-cyan-500 rounded-lg shadow px-6 py-2 text-white flex items-center gap-2 font-semibold">
        <i class="fa-solid fa-magnifying-glass text-sm"></i>
        Buscar
      </button>
    </div>
  </div>

  <div class="flex w-full gap-2">
    <div class="flex flex-col items-start w-2/6">
      <%= f.label :article_id, 'Articulo:', class: 'font-semibold text-sidebarTextColor' %>
      <%= f.select(:article_id, Article.all.order(:name).map { |option| [option.name, option.id] }, { include_blank: 'Mostrar todas las ventas' }, { class: "input-tailwindcss #{ error_input_border(sells_filter.errors.include?(:article_id)) }", id: 'select_name'}) %>
      <% if sells_filter.errors.include?(:article_id) %>
        <%= render 'shared/input_error_msg', { object: sells_filter, attribute: :article_id } %>
      <% end %>
    </div>

    <div class="flex flex-col items-start w-2/6">
      <%= f.label :date_min, 'Fecha inicial:', class: 'font-semibold text-sidebarTextColor' %>
      <%= f.date_field :date_min, class: "input-tailwindcss #{ error_input_border(sells_filter.errors.include?(:date_min)) }" %>
      <% if sells_filter.errors.include?(:date_min) %>
        <%= render 'shared/input_error_msg', { object: sells_filter, attribute: :date_min } %>
      <% end %>
    </div>

    <div class="flex flex-col items-start w-2/6">
      <%= f.label :date_max, 'Fecha final:', class: 'font-semibold text-sidebarTextColor' %>
      <%= f.date_field :date_max, class: "input-tailwindcss #{ error_input_border(sells_filter.errors.include?(:date_max)) }" %>
      <% if sells_filter.errors.include?(:date_max) %>
        <%= render 'shared/input_error_msg', { object: sells_filter, attribute: :date_max } %>
      <% end %>
    </div>
  </div>
<% end %>
