<%= form_with(model: sell, id: id, class: "flex flex-col w-full gap-5") do |form| %>
  <div class="flex flex-col gap-1 w-full items-start">
    <%= form.label :date_of_sell, 'Fecha de venta:', class: 'font-bold mb-1' %>
    <%= form.date_field :date_of_sell, class: "input-tailwindcss font-semibold #{ error_input_border(sell.errors.include?(:date_of_sell)) }" %>
    <% if sell.errors.include?(:date_of_sell) %>
      <%= render 'shared/input_error_msg', { object: sell, attribute: :date_of_sell } %>
    <% end %>
  </div>

  <div class="flex flex-col gap-1 w-full items-start">
    <%= form.label :description, 'Descripción de la venta:', class: 'font-bold mb-1' %>
    <%= form.text_field :description, class: "input-tailwindcss font-semibold #{ error_input_border(sell.errors.include?(:description)) }" %>
    <% if sell.errors.include?(:description) %>
      <%= render 'shared/input_error_msg', { object: sell, attribute: :description } %>
    <% end %>
  </div>

  <div class="flex items-center justify-end gap-3 mt-5">
    <%= form.submit btn_text, class: "rounded py-2 px-4 bg-green-500 text-white font-semibold cursor-pointer", data: { turbo_frame: '_top' } %>
  </div>
<% end %>
