<div class="flex flex-col w-full gap-5 border shadow p-5 bg-white rounded">
  <div class="flex items-center justify-between">
    <%= render 'shared/breadcumb', { path: sells_path, path_text: 'Ventas', text: "Venta No. #{sell.id}" } %>

    <div class="flex items-center gap-5">
      <%= link_to edit_sell_path(@sell), data: { turbo_frame: 'edit_sell' },class: "text-lg font-semibold gap-2 flex items-center text-primary hover:text-cyan-800 duration-300" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= button_to sell_path(@sell), method: :delete, form: { data: { turbo_confirm: 'Estas seguro de eliminar esta venta?' } }, class: "text-lg font-semibold gap-2 flex items-center text-danger hover:text-red-800 duration-300" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col w-full gap-1">
    <div class="flex gap-2 items-center">
      <span class="font-regular text-sidebarTextColor">ID de la venta:</span>
      <span class="font-semibold"><%= sell.id %></span>
    </div>

    <div class="flex gap-2 items-center">
      <span class="font-regular text-sidebarTextColor">Fecha de la venta:</span>
      <span class="font-semibold"><%= I18n.l(sell.date_of_sell.to_time, format: :long) %></span>
    </div>

    <div class="flex gap-2 items-center">
      <span class="font-regular text-sidebarTextColor">Descripción del venta:</span>
      <span class="font-semibold"><%= sell.description.present? ? sell.description : '--' %></span>
    </div>
  </div>
</div>
